<div class="card">
  <div class="card-body"
       *ngIf="originalItem"
       [class.done]="originalItem.status == 'done'"
       [class.loading]="state.loading"
       [class.editing]="state.editing"
       [class.error]="false"
  >
    <form [formGroup]="formGroup">

      <div class="row">
        <ng-container *ngIf="!state.editing">
          <div class="col-md-3">
            <p>{{originalItem.title}}</p>
          </div>

          <div class="col-md-2">
            <p>{{originalItem.description}}</p>
          </div>

          <div class="col-md-2">
            <p>{{originalItem.date | date}}</p>
          </div>

          <div class="col-md-2">
            <p>{{originalItem.status}}</p>
          </div>
        </ng-container>

        <ng-container *ngIf="state.editing">
          <div class="col-md-3">
            <input type="text" name="title" id="title" formControlName="title" placeholder="title" [readonly]="state.saving">
          </div>
          <div class="col-md-4">
            <input type="text" style="width: 100%;" name="description" id="description"
                   formControlName="description" placeholder="description" [readonly]="state.saving">
          </div>
          <div class="col-md-2">
            <p>{{originalItem.status}}</p>
          </div>
        </ng-container>

        <div class="col-md-3 options">
          <ng-container *ngIf="!state.editing">
            <button class="btn btn-success" *ngIf="originalItem.status != 'done'" (click)="completeItem()">
              <i class="fa fa-check"></i>
            </button>
            <button class="btn btn-primary" (click)="editItem()">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteItem();">
              <i class="fa fa-trash"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="newItem">
            <button class="btn btn-success" (click)="createNewItem()" *ngIf="!state.saving">
              Create
            </button>
            <button class="btn btn-success" disabled *ngIf="state.saving">
              Creating
            </button>
          </ng-container>
          <ng-container *ngIf="state.editing && !newItem">

            <button class="btn btn-primary" (click)="saveItem()" *ngIf="!state.saving">
              Save
            </button>
            <button class="btn btn-primary" disabled *ngIf="state.saving">
              Saving
            </button>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</div>
