.options{
    display: flex;
    flex-direction: row;

    button{
        flex:1;
        margin: 5px;
    }
}

:host{
    margin: 10px;
}
.done{
    background: #79D879;
}
.selected{
    background: #004700;
}
.loading{
    background: #A0A0A0;
}
.edited{
    background: #8580FD;
}
.error{
    background: #FD7070;
}

div{
    p{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
