
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
<div class="todos" *ngIf="itemAndStateList$ | async as itemAndStateList">
  <h1>ToDo List ({{numberOfItems$ | async}})</h1>
  <ng-container *ngIf="loading$ | async;else todoList" >
    <div class="loader"></div>
  </ng-container>
  <ng-template #todoList >
    <ng-container *ngFor="let itemAndState of itemAndStateList">
        <app-todo-list-item [todoItem]="itemAndState.item" [state]="itemAndState.state"
                            (create)="onCreate($event)" (delete)="onDelete($event)"
                            (edit)="onEdit($event)"
                            (complete)="onCompleteTodo($event)"
                            (save)="onSave($event)"></app-todo-list-item>
    </ng-container>
    <app-todo-list-item [newItem]="true" [todoItem]="(newItemState$| async).item"
                        [saving]="(newItemState$| async).saving"
                        (create)="onCreate($event)"></app-todo-list-item>
  </ng-template>
</div>

</div>

<div class="col-md-2"></div>
</div>
